<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/vis.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #container {
            max-width: 400px;
            height: 400px;
            margin: auto;
        }
    </style>
</head>
<body>
{{{body}}}
<div id="visualization"></div>
<div id="container"></div>
<script src="javascripts/bundle.js"></script>
</body>
</html>
